<ion-header>
  <ion-toolbar>
    <ion-title>My Requests</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-list>
        <ion-row>
          <ion-col>
            Subject
          </ion-col>
          <ion-col>
            duration
          </ion-col>
          <ion-col>
            participants
          </ion-col>
          <ion-col>
            date
          </ion-col>
          <ion-col>
            place
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list>
        <ion-row>
          <ion-col>
            NodeJs
          </ion-col>
          <ion-col>
            2
          </ion-col>
          <ion-col>
            2
          </ion-col>
          <ion-col>
            11/05/2019
          </ion-col>
          <ion-col>
            iae
          </ion-col>
        </ion-row>

      </ion-list>
    <ion-list>
       
        
  
          <ion-row>
            <ion-col>
              bd
            </ion-col>
            <ion-col>
              1
            </ion-col>
            <ion-col>
              3
            </ion-col>
            <ion-col>
              21/05/2019
            </ion-col>
            <ion-col>
              iae
            </ion-col>
          </ion-row>
        </ion-list>
      <ion-list>

  
    
            <ion-row>
              <ion-col>
                ts
              </ion-col>
              <ion-col>
                2
              </ion-col>
              <ion-col>
                2
              </ion-col>
              <ion-col>
                17/02/2019
              </ion-col>
              <ion-col>
                iae
              </ion-col>
            </ion-row>
    
    
          </ion-list>
        <ion-list>
      
              <ion-row>
                <ion-col>
                 Scrum
                </ion-col>
                <ion-col>
                  2
                </ion-col>
                <ion-col>
                  2
                </ion-col>
                <ion-col>
                  11/12/2019
                </ion-col>
                <ion-col>
                  iae
                </ion-col>
              </ion-row>
      
            </ion-list>
              <ion-list>
           
            <ion-row>
                  <ion-col>
                    english
                  </ion-col>
                  <ion-col>
                    4
                  </ion-col>
                  <ion-col>
                    2
                  </ion-col>
                  <ion-col>
                    02/04/2019
                  </ion-col>
                  <ion-col>
                    iae
                  </ion-col>
                </ion-row>
              </ion-list>
        </ion-grid>
                
    </ion-item>
   
  </ion-list>

</ion-content>
